@page
@model PartFinderCore.Pages.ManufacturersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Pages/Shared/_Layout.cshtml";

}

@section header {
    <a href="/admin/manufacturers/add" title="Add new" class="btn btn-sm btn-primary"><i class="bi bi-plus-circle"></i>Add new</a>
}
@section HeaderBreadCrumb {
    <li class="breadcrumb-item active" aria-current="page">Manufacturers</li>
}

@section FooterScripts {
    <script src="/js/pagescripts.js"></script>
}
<div class="border rounded px-4 pt-2 bg-white">
<table class="table border-bottom tablelinks">
    <thead>
        <tr>
                <th scope="col"><a class="datatable-sorter" asp-page="/Manufacturers" asp-route-sortorder="@Model.SortName">Name</a></th>
                <th scope="col"><a class="datatable-sorter" asp-page="/Manufacturers" asp-route-sortorder="@Model.SortUrl">URL</a></th>
                <th scope="col"><a class="datatable-sorter" asp-page="/Manufacturers" asp-route-sortorder="@Model.SortPhone">Phone</a></th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ManufacturerName</td>
                    <td><a href="@item.ManufacturerURL" target="_blank">@item.ManufacturerURL</a></td>
                    <td>@item.ManufacturerPhone</td>
                    <td class="text-end">
                            <a href="/parts/listbymanufacturer?id=@item.mpkey" class="btn btn-sm btn-primary"><i class="bi bi-eye me-2"></i>View Parts</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
    @Html.Raw(Model.Pagination)
</div>